:root{

        --Chelsea-font: "Chelsea Market", serif;
        --poppins-font: "Poppins", serif;
        --Lora-font: "Lora", serif;



        --accent-color: #ffc0cb; 
        --shoe-color: #a0522d; 
        --offer-color: #ffa07a; 
        --sandy-brown: #f4e1c1;
}
